/* 全体要素 */
*,*::before,*::after{
    box-sizing: border-box;
  }
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
/* ヘッダー */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: rgba(156, 218, 197, 0.918);
    position: fixed;
    z-index: 10;
}
header .header-logo{
    font-size: 30px;
    font-family: 'Oleo Script', cursive;
    margin-left: 40px;
    min-width: 267px;
}
header .header-menu{
    display: flex;
    margin-right: 20px;
}
header .header-menu li{
    padding: 0 20px 0 20px;
    border-left: 1px solid black;
    cursor: pointer;
}
header .header-menu li:hover{
    color: blanchedalmond;
    transition: all 0.2s;
}
/* ハンバーガーメニュー */
input#check{
    display: none;
}
.bars div{
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 3px;
}
.bars{
    display: none;
    position: relative;
    right: 10px;
}

ul.burger-menu{
    width: 140px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -140px;  
    background-color: white;
    transition:all 0.2s;
    z-index: 10;
}
.burger-menu li{
    text-align: center;
    border-bottom: 1px solid black;
    margin: 15px;
}



/* HOME */
.home{
    height: 100vh;
    width: 100%;
    background-color: rgb(255,200,172);
    background: url("../images/home.jpg");
    background-size: cover;
    background-position: bottom;
}

.home .home-p{
    width: 45%;
    min-width: 410px;
    position: absolute;
    padding: 10px;
    top: 35%;
    margin-left: 40px;
    color: rgb(46, 45, 45);
    background-color: rgba(255, 255, 255, 0.541);
    border-radius: 10px;
}
.home .home-p .home-name{
    margin-bottom: 20px;
    font-style: normal;
}
.home .home-intro{
    font-size: 18px;
}
/* ABOUT */
.about{
    width: 100%;
    background-color: blanchedalmond;
}
.about .about-p{
    font-size: 30px;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    padding: 60px 0 40px 0;
}
.about .icon img{
    width: auto;
    height: 280px;
    display: block;
    margin: 0 auto;
}
.about .about-intro{
    width: 50%;
    min-width: 380px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
/* WORKS */
.works{
    width: 100%;
    height: auto;
    background-color: blanchedalmond;
}
.works .works-p{
    font-size: 30px;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    padding: 60px 0 40px 0;
}
/* PORTFLIO */
.portfolio{
    width: 100%;
    height: auto;
    background-color: blanchedalmond;
}
.portfolio .portfolio-p{
    font-size: 30px;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    padding: 60px 0 40px 0;
}
/* CONTACT */
.contact{
    width: 100%;
    background-color: blanchedalmond;
}
.contact .contact-p{
    font-size: 30px;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    padding: 60px 0 40px 0;
}
.contact form{
    width: 50%;
    /* height: 70vh; */
    margin: 0 auto;
}
form .ne{
    font-size: 20px;
    width: 90%;
}
form .text{
    width: 100%;
    height: 50vh;
}
form .send-box{
    width: 100%;
    height: 40px;
    position: relative;
}
form .send{
    width: 40px;
    position: absolute;
    right: 0;
}

/* フッター */
footer{
    width: 100%;
    height: 60px;
}
footer .copyright{
    text-align: center;
    line-height: 60px;
    background-color: rgba(156, 218, 197, 0.918);
}

