/* 全体要素 */
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
/* ヘッダー */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: rgba(156, 218, 197, 0.918);
    position: fixed;
    z-index: 10;
}
header .header-logo{
    font-size: 30px;
    font-family: 'Oleo Script', cursive;
    margin-left: 40px;
    min-width: 267px;
}
header .header-menu{
    display: flex;
    margin-right: 20px;
}
header .header-menu li{
    padding: 0 20px 0 20px;
    border-left: 1px solid black;
    cursor: pointer;
}
header .header-menu li:hover{
    color: blanchedalmond;
    transition: all 0.2s;
}
/* HOME */
.home{
    height: 100vh;
    width: 100%;
    background-color: rgb(255,200,172);
    background: url("../images/home.jpg");
    background-size: cover;
}
.home .home-p{
    width: 35%;
    height: 30vh;
    min-width: 400px;
    position: absolute;
    top: 35%;
    margin-left: 40px;
    color: rgb(199, 190, 179);
    text-shadow: 2px 2px 5px black;
}
.home .home-p .home-name{
    margin-bottom: 20px;
    font-style: normal;
}
.home .home-intro{
    font-size: 18px;
}
/* ABOUT */
.about{
    width: 100%;
    height: 100vh;
    background-color: blanchedalmond;
}
.about .about-p{
    font-size: 30px;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    padding: 60px 0 40px 0;
}
.about .icon{
    width:240px;
    height: 270px;
    margin: 0 auto;
}
.about .icon img{
    display: block;
    margin: 0 auto;
}
.about .about-intro{
    width: 50%;
    min-width: 380px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
/* WORKS */
.works{
    width: 100%;
    height: 100vh;
    background-color: blanchedalmond;
}
.works .works-p{
    font-size: 30px;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    padding: 60px 0 40px 0;
}
/* PORTFLIO */
.portfolio{
    width: 100%;
    height: 100vh;
    background-color: blanchedalmond;
}
.portfolio .portfolio-p{
    font-size: 30px;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    padding: 60px 0 40px 0;
}
/* CONTACT */
.contact{
    width: 100%;
    height: 100vh;
    background-color: blanchedalmond;
}
.contact .contact-p{
    font-size: 30px;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    padding: 60px 0 40px 0;
}
.contact form{
    width: 50%;
    height: 70vh;
    margin: 0 auto;
}
form .ne{
    font-size: 20px;
    width: 90%;
}
form .text{
    width: 100%;
    height: 50vh;
}
form .send-box{
    width: 100%;
    position: relative;
}
form .send{
    width: 40px;
    position: absolute;
    right: 0;
}

/* フッター */
footer{
    width: 100%;
    height: 60px;
}
footer .copyright{
    text-align: center;
    line-height: 60px;
    background-color: rgba(156, 218, 197, 0.918);
}

