
.slide{
  margin: 0 auto;
  width: 60%;
  display: flex;
  align-items: center;
}
.slide img{
  height: auto;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

.prev{
  padding-right: 10px;
  cursor: pointer;
}
.next{
  padding-left: 10px;
  cursor: pointer;
}