
.slide{
  margin: 0 auto;
  width: 70%;
  display: flex;
  align-items: center;
}
.slide img{
  height: 320px;
  max-height: 100%;
  width: 100%;
  max-width: 360px;

  margin: 0 auto;
}

.prev{
  padding-right: 10px;
  cursor: pointer;
}
.next{
  padding-left: 10px;
  cursor: pointer;
}